<manifest package="com.otaliastudios.bottomsheetcoordinatorlayout"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:label="BottomSheetCoordinatorLayout"
                 android:supportsRtl="true"/>

</manifest>
